.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}



.jumbotron-heading {
  font-weight: 200;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
/*
.inputWithIcon input [type=text]
{
  padding-left: 40px;
}

.inputWithIcon{
  position:relative;
}

.inputWithIcon i {
  position:absolute;
  left:0;
  top:8px;
  padding: 9px 8px;
  color: #aaa;
  transition:.3s;
}

.inputWithIcon input[type=text]:focus + i{
  color:dodgerBlue;

}
*/
 /*.input-icons i { 
            position: absolute; 
        } 
          
        .input-icons { 
            width: 100%; 
            margin-bottom: 10px; 
        } 
          
        .icon { 
            padding: 10px; 
            min-width: 40px; 
        } 
          
        .input-field { 
            width: 100%; 
            padding: 10px; 
            text-align: center; 
        } 

*/

input.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}


/* Style buttons */
.btn {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}



body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 50%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 50%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

.search {
   font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
  }


/*
.bg {
  
  background-image: url("wall.jpg");
  
  height: 300%;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

  body, html {
  
  height: 300%;
  margin: 0;
}


.imgcontainer {
  text-align: center;
  margin: 100px 0 50px 0;
}
*/
.form-group{
  alignment-baseline: left;
  align-content: left;
  vertical-align: left;
  align-self:left; 
  display: inline-table;
  width: 200px;
  text-align: left;
  margin-top: 3px;
  margin-right: 10px;
  margin-bottom: 0px;
  padding: 0px

}
.container{
  display:inline-table;
  alignment-baseline: left;
  width: 25px;
  text-align: left;
   margin-top: 3px;
  margin-left: 0px;
  margin-bottom: 0px;
  padding: 0px

}
.table{
  alignment-baseline: right;
}