form {
border 100px solid #FF4500;
font-family: Fonts;
/*border-radius: 50px;
border: 50px solid #4CAF50; */

}

@font-face {
     font-family: Fonts;
	 src: url(vinet.ttf);
	 
}

input[type=text], input[type=password] {
width: 60%;
padding: 8px 10px;
margin: 5px 5px;
display: inline-block;
border:3px solid #ccc;
box-sizing: border-box;
font-size: 20px;
border-radius: 10px;
}

button{
background-color: #4CAF50;
color: white;
padding: 15px 15px 15px 15px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 60%;
border-radius:5px;
font-size: 15px;



}

button:hover {
	opacity: .5;
}

.cancelbutton {
	
	background-color: #f44336;
	font-size: 15px;
}

.imgcontainer {
	text-align: center;
	margin: 24px 0 10px 0;
}