

input[type=text], input[type=password]
{
	width: 100%;
	padding: 10px 10px;
	margin: 8px 0px;
	display: inline-block;
	border: 3px solid #ccc;
	font-size: 15px;
	border-radius: 5px;
	box-sizing: border-box;

	
}


button{
	background-color: #f44336;
	color: green;
	padding: 15px 15px 15px 15px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	border-radius: 5px;
	font-size:15px;

}
button:hover{
	
opacity:.5;
}
.cancelbutton{
	background-color: #f44336;
	font-size: 15px;
}
.imgcontainer{
	text-align:center;
	margin: 24px 0 10px 0;

	
	
}

