
@font-face {
  font-family: 'AcadEref';
  src: url('AcadEref.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AcadEref';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAABJQABEAAAAAHdgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABMVFNIAAACjAAAABMA
AAAcBgZRi09TLzIAAAH4AAAATwAAAGBoBFauVkRNWAAADyQAAAMsAAAF4H8jhrZjbWFwAAAEqAAA
AMEAAALECWkNN2N2dCAAAAaEAAAABgAAAAYAFAAAZnBnbQAABWwAAAD9AAABYjJNc2ZnYXNwAAAP
FAAAABAAAAAQABcACWdseWYAAAaMAAAGVQAACmQREwcraGRteAAAAqAAAAIHAAACjIzkDRNoZWFk
AAABgAAAADYAAAA23d9FA2hoZWEAAAG4AAAAIAAAACQMCQhbaG10eAAAAkgAAABCAAAAYHEfABps
b2NhAAAM5AAAAC4AAAAyHIgaOG1heHAAAAHYAAAAIAAAACACJgGJbmFtZQAADRQAAAGoAAADoukm
fvJwb3N0AAAOvAAAAFUAAABkT3LRO3ByZXAAAAZsAAAAFgAAABYc/H2cAAEAAAABAIPMNDQ0Xw88
9QAZA+gAAAAAu0dgZgAAAAC7gqA9AAD/2QfoAx4AAAAJAAIAAAAAAAB42mNgZGBgfvbfgsGSo5qB
gaGf/QUDUAQFSAAAcTkEdQABAAAAGAAmAAMAAAAAAAEAAAAAAAoAAAIAAWIAAAAAeNpjYGLZxjiB
gZWBgWkPUxcDA0MPhGa8y2DE8AsoCpICUcxAEoThwDE0xJ/BgUGBYQHzs/8WDJbMzxjUgcKMIDnG
L8xyQEqBgQEAq7cNZQB42uOoZgADDiDN+IWBgekHAzMQM3EYAdkbgOy1QNzFwARig9QwyzEwg9V9
g/BB6litIDRIHMhmZLUBYigNAKg1DJ8AAHjaY2BgkGBEBS4QykcbAAa7AOkAeNoNzrtum1AABuB/
MRzgcDMc7iQYDIEGIdV2KlPX9mC5QqpkeUztKRIZItVDBi8Z/AYZkj2TX7Tne4IPgAsgkmwb9kAU
LYGzxYFoWdQaUKqqgOw4cAaEMJFzyIAwprKBqmoaoHgePIEQlxCReJJAPFd3BZ0DaBAgECTJJ1wg
C1LgG75gcIAaRYhEWQ4liUiRLMpRaIaiyQH6aIQRUZRbmRtRoiS39i2xOcDIMmSE0lRRZCVTCU1T
lvIQY4CZ58glVR1TqtBck9R87I4llwOsqkIla1qpqlStdFmrSr+UfQ5gTYNGMYxa4xpTMZo6qpUo
imPAe5hhRofDiWkY5syiw4dJMqEJB4SLBRYaY61lDa2Fo9mLdtxqYw6I12usdcdZ2rZlr13dWS/v
lvrdXVEAye8ttobnbRyHOdvA8H5v7jfGPQeMug6d6ftb12VuF5h+t623Zs0B+X6PvRVFO9/3/P2N
Fe13k5014YBvxyOOLEke4ziMjylLjo/zRzafz1ug6Xv0bpY9JclN0udu1j+tntzVarkCJqcTTn5R
vKTpKD2VfvHvZfPibzjgx/mMc1hVr3me5ef7sDq/dq9hxwE/Lxdc4rp+K8uivDRxfXnbvcU7Dth8
fuAjnU7fm6ZuPh7S6ef74T09HP4egD/XK65F237Npt9n119Fe/3qv4r++fkZ+A8p9VpUAHjaY2Bg
YGYAYyYHBkYGEJAB8oAsxj0MbIwLwCKnoTIIwMjABGUxMeAHEJ3MKGJCSGxhBkEGYgAPAx8DCwMr
Fhl+Bm40EQEGNgxV7AwcDJwMXFj0izGIoImIM4gyDH7ADAyPFrD7BYBsNgYFBnUGPQYXBn+GCIYU
hnyGCoYF//8D5UHiugyODH4M4QyJDHkM5SDx/4//v4YZ9H8ZmEyGxpUQMDykgKkAlBLk4HEEC39Q
aIPCFxRqoHAaBG4AANi8KpEAAAB42l2PPU7EMBCFbRwWcgMkC8mWFYqVV/RUKZxIKE0gFJ6GH2lX
InsHpDQ0U3CWoTNdLoZgko222MYz783o85skhG+SyNv4LeUXJPn3mUS4/hG5UC/PmySkN6bqA8lX
FmeejbXlTnlTkyrqx+jAoMH7LZravL9tKSvmyoMdwq0h0cWe36doqQR9bHcAd8zJJk42cxCYsF8I
+5nAgF9eOveNIXXTxodIQ9BUBtDWmorGNtIYtAXgrdUxKdeP/mrJfMGZV2tuLg+UjhmMAMSDcpZG
RI18x6KTFKdGuRh8+ARQRZXk0M6jwVk9Gc46y7Eg8Fe5b7pYcTALm38ad2cPAAAAuAAAKwC6AAEA
AQAHK7gAACBFfWkYRAAAABQAAAAAAAB42m1WX2xTVRg/37nt2q3d1rtyKevWXa4FamnMBZuytGxc
wjaU5TLKGM0gLiRmiEhISAghYWQYjdEpPhCMJv55UF/wkShJaQQfeDD+eWhCMCozxgQTH9VEhbDe
+TvnnrIKNjn5Tu+9vd/v+/1+33fKiGnLt/lRbYCtY+ka62Im03KsxuIsiU2NEQsjVhnFqmxdfdPm
eN7kIZunuzXD1PIOT3TztK0VHO3ex5VyZtRyhs6VHAsfp3RuyLFGM+UKbmQzmWy5og3kyhPp0W2p
1LYds5cOb3dM0xlNT5RzuXL51I2Tk+UcY5xx4HkKeKKslx2qsqRdZX1YSQBgdSzxHfu2xSqLY2m4
puFaHNfC2IexZ9hH6n7sXEQ13axDVsNYp6ymEzfWiGosUzO6NUtP6HlHK9hamtPjc1MZfKbmvO/H
b844pmWZzsxNbSA7OXnyxqnyZFYb2d2Ysoa3H740u2PIxDsJywp9RJdZjDk1pGAyicgeqPvJ2uqs
yoJ2jbVLJFXWrsrpEBDr/vduIFpfyAwmCnkjaBnWesMqWHzWThouv8KHG1caBxplPnv8y56d4See
XnLv3nXBl7b8A0hbC+kstr/GdIAQCWIqQUwlEDGuolUHJxG2WnJiinfgByZuxPDAasSeeo2twv2I
3lPctJlsSndzw+R5h/RhyuvpQjelbV5weN4k+qxYOjg0bJrDQwdLRdeNVuYrk9nsJEKU5ouplDMz
POOkUkXSjg02rg5Gc7mpuX1zU7lclDGJ/zbn0Fvg31VjKTYg4aQU/pQkxo9rBYsmWAzAGwJ7D6oQ
sR/fA8BaZb14LCWU1U2CPQvCqlRwCLY1hFXJSOt5fU8RWIX9gLwoAE9ls1MCsOvSvLdcRDEzw4eG
AfoY4E7O7Z+bBNxBbcT7RurNl3+kv7iFvHEwiU6RKKIgX8tBw0QLPaEW8uiLLe5KMnfLWKmJojT2
2qDrZwIxE4UxSZtAMPYwR3trYCj1CEed/8dVyhY66xJdUuosuOIsKbnS8ZhZ/6++vdSCXRdSS32b
MEHW2Wmh7vTZSnRiQuoLmDOQv0jkvdXCFhWWrg0iF1v+OfQbHYdmEXgNTgcmTbWIBgRB1aghgQSG
N9bD+pQhvtA4zRf4t/xiY74B+W6T5eLjXR+lcZ+TP/l5cBIG71m8l9D4bbYYBqLLVlowVBccYM5J
Lw+GMpSnUMYatCL04fRO2ligjTunvU9TFH994bs7/Vps6ff+O7vpBe9tJt4iuR9Hng4wuJ6drLIN
SJLB2qCmTAT79KKvRAbXDOyDWIZSI4LYixhEHBCdx9ka5ZfHZFzXgrYdD0YRk4jrEPukly3pZEuz
hIvJJFjZ0sm/qFt7qG8mmUolZ7xfXTp5xs7l8vlczj7jvUlHmjeoj456181k6ZlS0qQrWbtysPLk
5sq5/TbmmfeO2bt1y9Ze07vDZE+y5Z+kZiEwl6+xoAIY9OdplXHJ9coNpoZvUFYgdISAlp4myBl6
v/G11I9fdO/O8gWypITeCRp13ZbZqbN9GDxikmOR4BOrp2WqC07D+B5VibqEw8Vx0GmLsedPMa4c
pTcdldf9OfpgroYqbnOS+pOV/qDL3gkMUzVX8SZiuwKv8PPwli4Ub6ISaKjuW40v+oeimPCkUIoz
KIbr7Yv+nI3UlS87bP+QaseK2eIcCrb4048rZQF1QXQeUKMFDbSDkaYxWP9zGqXLLo1411y6cL9x
bcn1qnzkvrskZhKxjYFX+Sfo7w9E48Nrtj8JeN0XTHDK5Vnkxw6FXCQeQFyF+11Yq9RBsEoekrim
7Cie7a8zv4oEqmhTc6+DJVg7ukv8ffB3SIKH9brf4XF04Bp1B7X5lSk9mgUmQhkDs4YujHs12vmy
PTVOz+0Wlb60ee9u7136yntxyT11ZGhH+pD3C83fc08/j/2zNCD9iuqlXu3Qa1a0u3/ccwUwpGza
NEfz0A0JcMLPAaURG5sWXuu7CuVp24GVXzIpjP+LmBAoLc4RQ1hcKRUo/oPDY8RtRJVQY0uQxjvB
3xA6PdDnFkb3e6L1OyWyMCD7f7P8PMLfmvrPoKtoqJGQUH8TxCwJy9Hga2Iuqj4QHZlSUz4EdZjU
JKJ2fvld6niIQRPjwTO9aif6Jf5AjEeEygdKLjUlaRXqb37LO9FU5CGl2L8Yw4SOAAAAeNpjYIAD
D4ZFDA8YHRhnMV5iMmCKYZrANIGZi9mBuQsKn7AksWxhNQIAxoIJ7gAAeNqFkT9P20AYxp8zgYQl
SpgYWukVA4IqskxYkCcsihALA0KMSG58CVFMjM4OEgMj34KPUKmfoGO3qlNnPgtPLm8QiSj1yXe/
5/3vM4BNsw2D2XPAd8YGDaoZB6jjUHkFn3GiXGNMpryKNnLlNdoflOv4gkflBpr4odyi+qncZtQv
5Q3af7OLqa1T3eKvskHLfFUO0DQXyiuIzTflGmOelFexZb4rr9H+R7mOC/Os3MCnoKvcQis4U26j
GVwpb9CeHxW39244uK5kp7cryaQqMluOOnI67oUd6UbRfihJnouPKcXZ0ro7m4VJL82One2f28Ek
T91r4jQvlrk39hXm6tK6cliMZS+MuguO+SnDUlKpXJrZm9SNpOgvTRQuyuUhVOIIBe/3Hg5DDHCN
CoId9LDLM8GEuuDftSgxQoe2U4zpDT13EXHtU01jcy55U6f0appped5xzxiZMDslHXtfH+fcB+yT
0+re6TjvF/sei7nxmxmWfZe+a8lpClYQ7LFGxOh/ZyxrYe70G1K+FW2pn+rGzzmirfAxH91R+KH3
fzex4H0Bytqe9XjaY2BiAIP/WxmMGLABCQYGRiYGJgZmBjUGdQZrBhcGVwY3BnegahUGAQZVBkMG
KwZBBi5GZoYghmiGQIYoVr280pwc7ozKgozUvNzMvNJiAIZbDMUAAAAAAAADAAgAAgAQAAH//wAD
eNoVxFPUkAkAANHpLdu2Ntu2rc22bdt2bTY227Zt2/XHb2dnzrlAKEL9H+EJCR0QmtBBQBjCaFjC
ajjCaXjCawQiaEQiaiQiaWQiaxSiaFSiajSiaXSiawxiaExiaixiaWxiaxziaFziBn+IRzyNT3xN
QAJNSEJNRCJNTGJNQhJNSlJNRjJNTnJNQQpNSUpNRSpNTWpNQxpNS1r9i780Hek0Pek1Axk0Ixk1
E5k0M5k1C1k0K1k1G9mC32Qnu+Ygh+Ykp+Yil+Ymt+Yhj+Ylr+Yjn+YnvxaggBakoBaikBamsBah
iBalqBajmBanuJaghJakpJailJamtJahjJalrJajnJanfPCLClTQilTUSlTSylTWKlTRqlTValTT
6lTXGtTQmtTUWtTS2tTWOtTRv/lb61JX61FP61NfG9BAG9JQG9FIG9NYm9BEm9JUm9FMm9NcW9Ai
+ElLWmorWmlrWmsb2mhb2mo72ml72msHOmhHOmonOmlnOmsXumhXumo3uml3umsPemhPemovemlv
emsf+mhf+mo/+ml/+usABuhABuogBgU/GMxgHcIQHcpQHcYwHc5wHcEIHclIHcUoHc1oHcMYHctY
Hcc4Hc94ncAEnchEncQkncxkncIUncpUncY0nc50ncEMnclMncUsnc3s4DtzmKNzmavzmKfzma8L
WKALWaj/8I8uYpEuZrEuYYkuZakuY5kuZ7muYIWuZKWuYpWuZrWuYY2uZa2uY52uZ71uYINuZKP+
y7+6iU26mc1BCFvYolvZqtvYptvZrjvYoTvZqbvYpbvZrXvYo3vZq/vYp/vZrwc4oAc5qIc4pIc5
rEc4okc5qsc4psc5ric4oSc5qac4pac5rWc4o2c5G3zjHOf0POf1Ahf0Ihf1Epf0Mpf1Clf0Klf1
Gtf0Otf1Bjf0Jjf1Frf0Nrf1Dnf0Lnf1Hvf0Pvf1AQ/0IQ/1EY/0MY/1CU/0KU/1Gc+Crzznub7g
hb7kpb7ilb7mtb7hjb7lrb7jnb7nvX7gg37ko37ik37ms37hi7p+45uGEKLf+a4/+KE/+am/+KW/
+a1/+KMBQfD1P7vI6o4=) format('woff'), url('AcadEref.ttf')  format('truetype'), url('AcadEref.svg#AcadEref') format('svg');
  font-weight: normal;
  font-style: normal;
}


