form{
	width: 100%;
	padding: 10px 10px;
	margin: 8px 0px;
	border: 10px solid #ccc;
}

input[type=text], input[type=password]
{
	width: 100%;
	padding: 10px 10px;
	margin: 8px 0px;
	display: inline-block;
	border: 3px solid #ccc;
	font-size: 15px;
	border-radius: 5px;
	box-sizing: border-box;
	
	
	
}
//border
p.solid {
	border-style: solid;
	width: 100%;
	padding: 10px 10px;
	margin: 8px 0px;
	
}

