form {
border 100px solid #FF4500;
font-family: Fonts;

}

@font-face {
     font-family: Fonts;
	 src: url(vinet.ttf);
	 
}


p.solid {
	border-style: solid;
	width: 100%;
	padding: 10px 10px;
	
	
}



input[type=text]{
width: 12%;
padding: 5px 5px;
margin: 3px 3px;
display: inline-block;
border:3px solid #ccc;
box-sizing: border-box;
font-size: 12px;
border-radius: 3px;
}

input[type=text2]{
width: 13%;
padding: 5px 5px;
margin: 3px 3px;
display: inline-block;
border:3px solid #ccc;
box-sizing: border-box;
font-size: 12px;
border-radius: 3px;
}

input[type=text3]{
width: 20%;
padding: 5px 5px;
margin: 3px 3px;
display: inline-block;
border:3px solid #ccc;
box-sizing: border-box;
font-size: 12px;
border-radius: 3px;
}






input[type=number] {
width: 5%;
padding: 5px 5px;
margin: 3x 3px;
display: inline-block;
border:3px solid #ccc;
box-sizing: border-box;
font-size: 12px;
border-radius: 3px;
}




input[type=date] {
width: 8%;
padding: 5px 5px;
margin: 3px 3px;
display: inline-block;
border:3px solid #ccc;
box-sizing: border-box;
font-size: 12px;
border-radius: 3px;
}


input[type=email] {
width: 26%;
padding: 5px 5px;
margin: 3px 3px;
display: inline-block;
border:3px solid #ccc;
box-sizing: border-box;
font-size: 12px;
border-radius: 3px;
}

input[type=address] {
width: 26%;
padding: 5px 5px;
margin: 3px 3px;
display: inline-block;
border:3px solid #ccc;
box-sizing: border-box;
font-size: 12px;
border-radius: 3px;
}

input[type=tel] {
width: 12%;
padding: 5px 5px;
margin: 3px 3px;
display: inline-block;
border:3px solid #ccc;
box-sizing: border-box;
font-size: 12px;
border-radius: 3px;
}

button {
background-color: #4CAF50;
color: white;
padding: 5px 5px 5px 5px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 12%;
border-radius:5px;
font-size: 15px;
button-align: center;



}

button:hover {
	text-align: center-left;
	opacity: .5;
}


/*.cancelbutton {
	
	background-color: #f44336;
	font-size: 15px;
}
 



*/

.imgcontainer {
	text-align: center;
	margin: 100px 0 50px 0;
}

body, html {
	
	height: 140%;
	margin: 0;
}

.bg {
	
	background-image: url("green.jpg");
	
	height: 140%;
	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
}



	